@import url("https://fonts.googleapis.com/css2?family=Hiragino+Kaku+Gothic+ProN:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-hiragino-kaku-gothic-pron: "Hiragino Kaku Gothic ProN";

  /* font sizes */
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.125rem;

  /* Colors */
  --color-darkslategray: #333;
}
