.header_box {
  width: 100%;
  height: 90px;
  padding: 0 10px;
  box-sizing: border-box;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.header_title {
  position: absolute;
  font-size: 1.125rem;
  font-family: var(--font-hiragino-kaku-gothic-pron);
  color: #333;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .header_box {
    padding: 0;
  }
  .inner {
    width: 1000px;
    margin: 0 auto;
  }
}
